* {
    box-sizing: border-box;
}

h2 {
    color: rgb(82, 137, 255);
}

.line-break{
    border-top: 2px solid rgb(82, 137, 255);
}

.standard-margin{
    margin: 3em 5em;
}

.close-margin{
    margin: 2em 2em;
}